.side-bar
	.header
		%h3.header	
			= current_user.name
			%ul.header_lists
				%li.list
					= link_to new_group_path do
						= fa_icon 'pencil-square-o', class: 'icon'
				%li.list	
					= link_to edit_user_path(current_user) do
						= fa_icon 'cog', class: 'icon'
	.groups
		%ul.groups_name-messages
			%li
				%p.group_name
					グループ１
				%p.group_message
					まだメッセージは
			%li
				%p.group_name
					グループ２
				%p.group_message
					まだメッセージは
			%li
				%p.group_name
					グループ３
				%p.group_message
					まだメッセージは
